@font-face {
    font-family: "PTSans";
    src: url(../fonts/ptsans.woff), url(../fonts/ptsans.woff2)
}

@font-face {
    font-family: "PTSans Bold";
    src: url(../fonts/ptsansbold.woff), url(../fonts/ptsansbold.woff2)
}

.button,
body {
    line-height: 26px;
    text-transform: uppercase
}

body {
    font-family: "PTSans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000
}

.site-navigation {
    font-family: "PTSans Bold", sans-serif;
    font-size: 14px;
    line-height: 26px
}

.site-navigation a {
    color: #000;
    text-decoration: none
}

.site-navigation .site-navigation-current a {
    color: #766357
}

.button {
    font-size: 21px;
    border: 0;
    color: #fff
}

.search-hotel-description {
    font-size: 14px;
    line-height: 24px
}

.search-hotel-description .interested {
    font-family: "PTSans Bold", sans-serif;
    font-size: 30px;
    line-height: 36px
}

.book-hotel-link,
.open-search-hotel-form-btn {
    background-color: #766357
}

.book-hotel-link:hover,
.open-search-hotel-form-btn:hover {
    background-color: #604e43
}

.book-hotel-link:active,
.open-search-hotel-form-btn:active {
    background: rgb(80, 62, 51, 1);
    color: rgb(255, 255, 255, .3)
}

.details-link,
.search-hotels-btn {
    background-color: #81b3d2
}

.details-link:hover,
.search-hotels-btn:hover,
.social-button:hover {
    background-color: #669ec0
}

.details-link:active,
.search-hotels-btn:active,
.social-button:active {
    background: rgb(84, 150, 189, 1);
    color: rgb(255, 255, 255, .3)
}

.search-hotel-form,
.search-hotel-form input {
    font-family: "PTSans Bold", sans-serif;
    font-size: 14px;
    line-height: 26px;
    border: 0;
    text-transform: uppercase
}

.control,
.rating {
    background-color: #f2f2f2
}

.rating,
.catalog-item-type,
.catalog-item-price {
    font-family: "PTSans", sans-serif;
    font-size: 14px;
    line-height: 21px;
}

.search-hotel-form input {
    background-color: inherit
}

.control:hover {
    background-color: #ebebeb
}

.control input:focus {
    background-color: #fff
}

.minus-btn,
.plus-btn {
    border: 0;
    background-color: #f2f2f2;
    color: #cacaca
}

.visually-hidden {
    display: none
}

.footer-social ul,
.rating-stars {
    list-style: none
}

.social-button {
    background-color: #81b3d2
}

.footer-copyright svg {
    width: 115px;
    height: 41
}

.footer-copyright .htmlacademy-logo:hover path {
    fill: #81b3d2
}

.footer-copyright .htmlacademy-logo:active path {
    fill: #bdbbbc
}

.calendar-icon:hover path {
    fill: #000
}

.calendar-icon:active path {
    fill: #81b3d2
}

.minus-btn:hover,
.plus-btn:hover {
    color: #000
}

.hotel-list-item-label:hover,
.minus-btn:active,
.plus-btn:active {
    color: #81b3d2
}

.hotel-list-item-label {
    font-family: "PTSans Bold", sans-serif;
    font-size: 21px;
    line-height: 26px;
    color: #000
}

.hotel-list-item-label:active {
    color: #bdbbbc
}

.hotel-list a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    line-height: 21px
}